# Module 1: Functional Programming I
Course: Advanced Programming for CSAI (Spring 2025)

## Homework

This notebook contains homework exercises. These are indicated as HW-n, where n is an number id. As explained in the course guide, you **DO NOT** have to submit these and can compare them to the solutions which will show up before the next class on canvas. 

This and the next exercise notebooks aim to prepare you for (i) the __in-class assessment__ on Functional programming (Module 1) and (ii) the final exam.

`Are you ready?`<br><br>
`Let's go!`<br>

# 1. Pure functions

Pure functions always produce the same output for the same input and do not modify the external environment.


Look at the following function. Do you think this function is pure?

#### HW-1:

Which of the following two versions of the `toggle_state()` function is pure and which not? Explain your reasoning.

Version 1:

In [ ]:
state = 0    

def toggle_state():
    global state
    state = 1 if not state else 0
    
print(state)    
toggle_state()
print(state)

Version 2:

In [ ]:
state = 0 

def toggle_state(state):
    state = 1 if not state else 0
    return state
    
print(state)
state = toggle_state(state)
print(state)

In [ ]:
# The pure function is version (write down 1 or 2):
hw_1_a = 2

#####################

# Explanation (write down your answer in between the quotes):
hw_1_b = "IT doesn't rely on any global variables therefor it doesn't take any 'forgin' inputs  "

# 2. Lambda functions

#### HW-2
Write a __lambda__ function called `summy` that computes the sum of two consecutive elements in a list. <br>
For the list `my_list` as defined below, the output should be:<br>
`2`<br>
`3`<br>
`5`<br>
`8`<br>
`13`<br>

In [16]:
my_list = [1, 1, 2, 3, 5, 8]

# Write your code here:
summy=lambda lst1,lst2: lst1+lst2
   


#####################
for i in range(len(my_list[:-1])):
    # Write your code here:
    print(summy(my_list[i], my_list[i+1]))
    #######################################

2
3
5
8
13


---

# 3. Higher-order functions

## 3.1. Filter

#### HW-3:
Use `filter()` to extract words longer than 5 characters from the list _words_.

**Hint:** Using `len()` may come in handy.

In [19]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']

## Your solution to HW-3 goes here:
long_words=list(

        filter(lambda x: x if len(x)>5 else "", words)
    )




###########################

print(list(long_words))  # Expected output: ['banana', 'cherry']

['banana', 'cherry']

## 3.2. Map

### Fruits

##### HW-4:
Use `map` to create a list of the lengths of each word in `fruits`.

**Hint:** `len` function may come in handy.

In [21]:
fruits = ['kiwi', 'blueberry', 'strawberry', 'grape']

## Your solution to HW-4 goes here:

word_lengths=list(map(lambda x: len(x), fruits))

###########################

print(list(word_lengths))  # Expected output: [4, 9, 10, 5]

[4, 9, 10, 5]

### Products

Consider again (see Module 1) the relatively complex data below.

The data below contains a collection of products. It is structured in the following way:

-- Each element in the dataset is a tuple containing three items: the name of the product, its category, and its total sales amount in US Dollars (USD).

-- The name is a string representing the product's name.

-- The category is a string that classifies the product (e.g., "Electronics", "Furniture").

-- The sales amount is a floating-point number representing the total sales value for that product in dollars.

-- The dataset contains diverse products to allow for a variety of analyses using higher-order functions.

In [22]:
products = [
    ("Laptop", "Electronics", 1200.50),
    ("Smartphone", "Electronics", 899.99),
    ("Desk", "Furniture", 250.00),
    ("Chair", "Furniture", 120.75),
    ("Headphones", "Electronics", 199.95),
    ("Sofa", "Furniture", 999.99)
]

The function to extrat the sales amount from the data is given below (again, as per Module 1). This allows us to perform various operations on the sales data in subsequent exercises.

In [69]:
def sales(prod):
    (x, y, z) = prod
    return z

## Another option is:
# def sales(prod)
#    return prod[2]
#
###########################

print(sales(products[0]))  # Expected output: 1200.5

1200.5

We can now use `sales` for many manipulations of the data.

#### HW-5: 
Use the function `sales` as the key in the built-in `min` and `max` functions to find the product with the lowest and highest sales.

The goal is to identify the products with the smallest and largest sales amounts.

In [196]:
## Your solution to HW-5 goes here:
lowest_sale = (min(map(sales, products)))
highest_sale = max(map(sales, products))
lowest_sales=sorted(products, key=sales)[0]
highest_sales=sorted(products, key=sales, reverse=True)[0]
#lowest_sales=list(filter(lambda a: a != "" ,(map(lambda x:x if lowest_sale in x else "", products))))[0]
#highest_sales=list(filter(lambda a: a != "" ,(map(lambda x:x if highest_sale in x else "", products))))[0]

###########################

print(lowest_sales)  # Expected output: ('Chair', 'Furniture', 120.75)
print(highest_sales)  # Expected output: ('Laptop', 'Electronics', 1200.50)

('Chair', 'Furniture', 120.75)
('Laptop', 'Electronics', 1200.5)

#### HW-6:
Create a function to sort the product data based on the sales amount in ascending order using the `sorted` function and `sales` as the key.

In [197]:
## Your solution to HW-6 goes here:
sorted_products=sorted(products,key= sales)



###########################

print(sorted_products)  # Expected output: [('Chair', 'Furniture', 120.75), ..., ('Laptop', 'Electronics', 1200.50)]

[('Chair', 'Furniture', 120.75), ('Headphones', 'Electronics', 199.95), ('Desk', 'Furniture', 250.0), ('Smartphone', 'Electronics', 899.99), ('Sofa', 'Furniture', 999.99), ('Laptop', 'Electronics', 1200.5)]

#### HW-7:
Note that the original data remains unchanged. Why is this a desirable property?

In [198]:
print(products) ## See, it's different from sorted_products
## Add your answer here: ##############################

hw7_answer = "IT allows us to always come back to the original if needed as well as allowing us to trouble shoot the code if needed"

#######################################################

[('Laptop', 'Electronics', 1200.5), ('Smartphone', 'Electronics', 899.99), ('Desk', 'Furniture', 250.0), ('Chair', 'Furniture', 120.75), ('Headphones', 'Electronics', 199.95), ('Sofa', 'Furniture', 999.99)]

Recall the `usd_to_euros()` and `usd_to_yen()` functions. We now want to be able to apply either `usd_to_euros()` or `usd_to_yen()` to our dataset.

In [199]:
usd_to_euros = lambda x: (product_name(x), product_category(x), sales(x) * 0.85)

usd_to_yen = lambda x: (product_name(x), product_category(x), sales(x) * 156.2)
###########################

# Check the price for the first product (product[0]) in euro:
print(usd_to_euros(products[0]))  # Expected output: ('Laptop', 'Electronics', 1020.425)

NameError: name 'product_name' is not defined

Recall the `usd_to_euros()` and `usd_to_yen()` functions. We now want to be able to apply either `usd_to_euros()` or `usd_to_yen()` to our dataset.

In [48]:
usd_to_euros = lambda x: (product_name(x), product_category(x), sales(x) * 0.85)

usd_to_yen = lambda x: (product_name(x), product_category(x), sales(x) * 156.2)
###########################

# Check the price for the first product (product[0]) in euro:
print(usd_to_euros(products[0]))  # Expected output: ('Laptop', 'Electronics', 1020.425)

('Laptop', 'Electronics', 1020.425)

#### HW-8:
Write a function `convert()` that takes either function as an input argument, and applies it to the data.

In [ ]:
## Your solution to HW-8 goes here:

convert=lambda usd_to_euros:...,products

###########################

sales_euro = convert(usd_to_euros, products)
print(tuple(sales_euro), "\n")  # Expected output: [('Laptop', 'Electronics', 1020.425), ...]

sales_yen = convert(usd_to_yen, products)
print(tuple(sales_yen), "\n")   # Expected output: [('Laptop', 'Electronics', 187518.09999999998), ...]

# Note again that the original products data has not changed!
print(products)                 # Expected value: Original dataset remains unchanged.

(('Laptop', 'Electronics', 1020.425), ('Smartphone', 'Electronics', 764.9915), ('Desk', 'Furniture', 212.5), ('Chair', 'Furniture', 102.6375), ('Headphones', 'Electronics', 169.95749999999998), ('Sofa', 'Furniture', 849.9915))

(('Laptop', 'Electronics', 187518.09999999998), ('Smartphone', 'Electronics', 140578.438), ('Desk', 'Furniture', 39050.0), ('Chair', 'Furniture', 18861.149999999998), ('Headphones', 'Electronics', 31232.189999999995), ('Sofa', 'Furniture', 156198.438))

[('Laptop', 'Electronics', 1200.5), ('Smartphone', 'Electronics', 899.99), ('Desk', 'Furniture', 250.0), ('Chair', 'Furniture', 120.75), ('Headphones', 'Electronics', 199.95), ('Sofa', 'Furniture', 999.99)]


## 3.3. Reduce

As you know, `reduce()` can be a very useful function, although quite difficult to get used to. Be patient with these exercises :)

Before using `reduce()`, consider the following auxiliary functions:

#### `triple`
A lambda function  `triple` that returns three times an integer.

In [92]:
triple = lambda x: x * 3

print(triple(4))  # Expected output : 12

12

#### `make_tuple()`
The function `make_tuple()` takes an arbitrary number of arguments and returns a tuple containing those arguments.

**Hint:** the  __*args__  construct can come in handy.

In [95]:
make_tuple = lambda *args: args

print(make_tuple(1, 2, 3))  # => (1, 2, 3)
print(make_tuple("a", "b", "c"))  # => ('a', 'b', 'c')

(1, 2, 3)
('a', 'b', 'c')

#### HW-9:

Implement the function  `add_all()` that takes an arbitrary number of arguments and sums them all, using `reduce()`.

In [120]:
from functools import reduce

## Your solution to HW-10 goes here:
def add_all(*args):
    return reduce(lambda *args: sum(args), args)



###########################

print(add_all(1, 2, 3, 4)) # => 10
print(add_all(5, 10, 15))  # => 30

10
30

#### HW-10:

Implement the function `div_all()` that divides the first argument by all the remaining arguments sequentially. Use `reduce()` to implement it.

In [154]:
## Your solution to HW-10 goes here:
def div_all(*args):
    return reduce(lambda *args: args[0]/(args[1]),args )



###########################

print(div_all(100, 2, 5))  # => 10.0
print(div_all(50, 5, 2))  # => 5.0

10.0
5.0

#### `combine()`

The function `combine()` is another auxiliary function that takes two functions and applies them in sequence. For example, `combine(triple, add_all)` creates a function that sums its arguments and then triples the result.

In [157]:
def combine(f, g):
    return lambda *args, **kwargs: f(g(*args, **kwargs))

result = combine(triple, add_all)(1, 2, 3)  # => triple(add_all(1, 2, 3)) = triple(6) = 18
print(result)

18

#### HW-11:
Explain why combine(triple, add_all) works while combine(add_all,triple) fails:

In [ ]:
result = combine(add_all, triple)(1, 2, 3)  # => triple(add_all(1, 2, 3)) = triple(6) = 18
print(result)

## Add your answer here: ##############################

hw_11_answer = ""

#######################################################

TypeError: <lambda>() takes 1 positional argument but 3 were given

#### HW-12:

Now let's create `combine_all()`, a version of `combine()` that takes any number of functions instead of only two. Use `reduce()` to compose them all.

**Hint:** Notebooks are incremental, most solutions are based on what we have previously done.

In [ ]:
## Your solution to HW-12 goes here:






###########################

composed_function = combine_all(make_tuple, triple, add_all)
result = composed_function(1, 2, 3)    # equivalent of make_tuple(triple(add_all(1, 2, 3)))
print(result)      # Expected output: (18,)

(18,)